<h1>Add User</h1>

<form id='new_user' class='form-group'>
	<input class='form-control' placeholder='first name' name='user[first_name]' require=true /><br>
	<input class='form-control' placeholder='last price' name='user[last_name]' require=true /><br>
	<input class='form-control' placeholder='phone number' name='user[phone_number]' /><br>
	<button class='btn btn-primary' type='submit'>Add</button>

</form>